<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf tutorial: exercise 6</title>
<link rel="stylesheet" href="../../../css/main-static.css"
	th:href="@{/css/main.css}" />
<meta charset="utf-8" />
</head>
<body>

	<h1>AllQueues</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Available from</th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="currentQueue : ${queues}">
				<form action="#" th:action="@{/queue/infoForQueue}"
					th:object="${currentQueue}" >
					<td><label th:text="*{sumToPay}" />
					<input type="hidden" name="currentQueue" th:value="*{name}"/>
					 <input
						type="submit" value="submit" /></td>
				</form>
			</tr>
		</tbody>
	</table>
</body>
</html>