<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf tutorial: exercise 6</title>
<link rel="stylesheet" href="../../../css/main-static.css"
	th:href="@{/css/main.css}" />
<meta charset="utf-8" />
	<script th:fragment="jquery" th:src="@{/js/jquery-1.7.1.min.js}" ></script>
	<link th:fragment="css" th:src="@{/css/main.css}"/>
</head>
<body>
	<label  th:text="${queueInfo.queue.name}"></label>
	<label  th:text="${queueInfo.queue.sumToPay}"></label>
	<form action="#" th:action="@{/queue/}+${queueInfo.queue.name}" 
		method="post">
		<button type="submit"> Choose queue </button>
	</form>
</body>
</html>