<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf tutorial: exercise 6</title>
<link rel="stylesheet" href="../../../css/main-static.css"
	th:href="@{/css/main.css}" />
<meta charset="utf-8" />
	<script th:fragment="jquery" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>

	<form action="#" th:action="@{/account/new}" th:object="${account}"
		method="post">
		<label for="email">email </label>
		 <input type="text"  th:field="*{email}" /> 
		 <label for="password">Password </label> 
		 <input	type="password" th:field="*{password}" /> 
		 <br/>
		<label for="wallets">wallets</label>
		<table>
			<tr th:each="wallet,walletStat: *{wallets}">
				<td th:text="${walletStat.count}"></td>
				<td>
					<input type="text" th:value="*{wallets[__${walletStat.index}__].walletType}" value="qiwi" />
					<input type="text" th:field="*{wallets[__${walletStat.index}__].waletNumber}" /> 
				</td>
			</tr>
		</table>
		<button type="submit" name="create" th:text="create">create
			account</button>
	</form>
</body>
</html>